<h1 class="f">Default</h1>

<p class="w-copy">{{ text }}</p>

<h1 class="f">Large</h1>

<p class="w-copy w-copy--large">{{ text }}</p>

<h1 class="f">Small</h1>

<p class="w-copy w-copy--small">{{ text }}</p>
